@model ArthurFrederico.SIGA.Model.CidadeModel

@{
    ViewBag.Title = "Edit";
}

<div class="login-box-title">
    <span>
        Edit
    </span>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="login-box-desc">
            <span>Cidade</span>
        </div>
        <div class="line"></div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-input-cadastro">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "input-cadastro" } })
            <div class="error-message">
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-input-cadastro">
            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "input-cadastro" } })
            <div class="error-message">
                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-input-cadastro">
            @Html.LabelFor(model => model.Cep, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Cep, new { htmlAttributes = new { @class = "input-cadastro" } })
            <div class="error-message">
                @Html.ValidationMessageFor(model => model.Cep, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="login-footer">
            <button type="submit" id="login-button">Edit</button>
        </div>

        <div class="form-link">
            @Html.ActionLink("Back to List", "List")
        </div>
    </div>
}
